 .upload {
     cursor: pointer;
     width: 100px;
 }

 #gallery {
     display: flex;
     gap: 8px;
 }

 #gallery img {
     height: 100px;
     width: 100px;
     background-color: rgba(0, 0, 0, 0.1);
     object-fit: cover;
     cursor: pointer;
 }

 #gallery img:hover {
     filter: brightness(1.2);
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
 }